<div class="inner-container">
    <div class="flex lg:flex-row flex-col lg:justify-between w-full">
        <div class="lg:max-w-2xl lg:order-0 order-1">
            <h2 class="text-[32px] leading-snug font-bold text-slate-900 mt-2">My name is <span class="title-mark">Matheus</span> and I am a <span class="title-mark">software engineer</span> with 15+ years experience</h2>
            <p class="text-lg text-slate-700 mt-4">
                Worked as a developer for companies in Brazil, England and Canada
            </p>
        </div>

        <div class="lg:order-1 order-0 lg:pt-2 lg:pb-0 pb-4">
            <img
                src="/assets/images/mtda-avatar-software-engineer-working-remote-for-us-canada-europe.png"
                alt="MTDA Avatar, Software Engineer, Working Remote for us, Canada, Europe"
            >
        </div>
    </div>

    <div class="md:flex -mx-6 md:-mx-12 mt-10">
        <div class="md:flex-1 mt-10 md:mt-0 px-12">
            <div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="68"
                    height="68"
                    viewBox="0 0 68 68"
                    fill="none"
                >
                    <circle
                        cx="34"
                        cy="34"
                        r="33.5"
                        fill="#F1F5F9"
                        stroke="#CBD5E1"
                    />
                    <rect
                        x="16.4141"
                        y="16.4138"
                        width="1.17241"
                        height="35.1724"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="51.5859"
                        y="16.4138"
                        width="1.17242"
                        height="35.1724"
                        transform="rotate(90 51.5859 16.4138)"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="4.68945"
                        y="17.5862"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(-90 4.68945 17.5862)"
                        fill="url(#paint0_linear_30_32066)"
                    />
                    <rect
                        x="4.68945"
                        y="51.5862"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(-90 4.68945 51.5862)"
                        fill="url(#paint1_linear_30_32066)"
                    />
                    <rect
                        x="63.3105"
                        y="16.4138"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(90 63.3105 16.4138)"
                        fill="url(#paint2_linear_30_32066)"
                    />
                    <rect
                        x="63.3105"
                        y="50.4138"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(90 63.3105 50.4138)"
                        fill="url(#paint3_linear_30_32066)"
                    />
                    <rect
                        x="51.5859"
                        y="50.4138"
                        width="1.17242"
                        height="35.1724"
                        transform="rotate(90 51.5859 50.4138)"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="50.4141"
                        y="16.4138"
                        width="1.17241"
                        height="35.1724"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="50.4141"
                        y="5.27582"
                        width="1.17241"
                        height="11.1379"
                        fill="url(#paint4_linear_30_32066)"
                    />
                    <rect
                        x="51.5859"
                        y="62.7242"
                        width="1.17241"
                        height="11.1379"
                        transform="rotate(180 51.5859 62.7242)"
                        fill="url(#paint5_linear_30_32066)"
                    />
                    <rect
                        x="16.4141"
                        y="5.27582"
                        width="1.17241"
                        height="11.1379"
                        fill="url(#paint6_linear_30_32066)"
                    />
                    <rect
                        x="17.5859"
                        y="62.7242"
                        width="1.17241"
                        height="11.1379"
                        transform="rotate(180 17.5859 62.7242)"
                        fill="url(#paint7_linear_30_32066)"
                    />
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M24.4805 27.2C24.4805 26.4787 24.767 25.7868 25.2771 25.2767C25.7872 24.7666 26.4791 24.48 27.2005 24.48H40.8005C41.5219 24.48 42.2137 24.7666 42.7238 25.2767C43.2339 25.7868 43.5205 26.4787 43.5205 27.2V38.08C43.5205 38.8014 43.2339 39.4933 42.7238 40.0034C42.2137 40.5135 41.5219 40.8 40.8005 40.8H37.7813L37.9485 41.4651L39.042 42.5585C39.2321 42.7487 39.3616 42.991 39.4141 43.2548C39.4665 43.5186 39.4396 43.792 39.3367 44.0404C39.2338 44.2889 39.0595 44.5013 38.8359 44.6507C38.6123 44.8002 38.3494 44.88 38.0805 44.88H29.9205C29.6515 44.88 29.3886 44.8002 29.165 44.6507C28.9414 44.5013 28.7672 44.2889 28.6643 44.0404C28.5614 43.792 28.5344 43.5186 28.5869 43.2548C28.6393 42.991 28.7688 42.7487 28.9589 42.5585L30.0524 41.4651L30.2197 40.8H27.2005C26.4791 40.8 25.7872 40.5135 25.2771 40.0034C24.767 39.4933 24.4805 38.8014 24.4805 38.08V27.2ZM32.329 36.72H27.2005V27.2H40.8005V36.72H32.329Z"
                        fill="#6D28D9"
                    />
                    <defs>
                        <linearGradient
                            id="paint0_linear_30_32066"
                            x1="5.27566"
                            y1="17.5862"
                            x2="5.27566"
                            y2="29.3104"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint1_linear_30_32066"
                            x1="5.27566"
                            y1="51.5862"
                            x2="5.27566"
                            y2="63.3104"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint2_linear_30_32066"
                            x1="63.8968"
                            y1="16.4138"
                            x2="63.8968"
                            y2="28.1379"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint3_linear_30_32066"
                            x1="63.8968"
                            y1="50.4138"
                            x2="63.8968"
                            y2="62.1379"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint4_linear_30_32066"
                            x1="51.0003"
                            y1="5.27582"
                            x2="51.0003"
                            y2="16.4137"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint5_linear_30_32066"
                            x1="52.1721"
                            y1="62.7242"
                            x2="52.1721"
                            y2="73.8621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint6_linear_30_32066"
                            x1="17.0003"
                            y1="5.27582"
                            x2="17.0003"
                            y2="16.4137"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint7_linear_30_32066"
                            x1="18.1721"
                            y1="62.7242"
                            x2="18.1721"
                            y2="73.8621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <h3 class="font-semibold text-base text-violet-700 mt-6">Web Applications</h3>
            <p class="mt-4 text-lg text-slate-600">
                Coding for the web and general web design was my first touch in the area back in the days
            </p>
        </div>
        <div class="md:flex-1 mt-10 md:mt-0 px-12">
            <div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="68"
                    height="68"
                    viewBox="0 0 68 68"
                    fill="none"
                >
                    <circle
                        cx="34"
                        cy="34"
                        r="33.5"
                        fill="#F1F5F9"
                        stroke="#CBD5E1"
                    />
                    <rect
                        x="16.4141"
                        y="16.4138"
                        width="1.17241"
                        height="35.1724"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="51.5859"
                        y="16.4138"
                        width="1.17242"
                        height="35.1724"
                        transform="rotate(90 51.5859 16.4138)"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="4.68945"
                        y="17.5862"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(-90 4.68945 17.5862)"
                        fill="url(#paint0_linear_30_32086)"
                    />
                    <rect
                        x="4.68945"
                        y="51.5862"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(-90 4.68945 51.5862)"
                        fill="url(#paint1_linear_30_32086)"
                    />
                    <rect
                        x="63.3105"
                        y="16.4138"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(90 63.3105 16.4138)"
                        fill="url(#paint2_linear_30_32086)"
                    />
                    <rect
                        x="63.3105"
                        y="50.4138"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(90 63.3105 50.4138)"
                        fill="url(#paint3_linear_30_32086)"
                    />
                    <rect
                        x="51.5859"
                        y="50.4138"
                        width="1.17242"
                        height="35.1724"
                        transform="rotate(90 51.5859 50.4138)"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="50.4141"
                        y="16.4138"
                        width="1.17241"
                        height="35.1724"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="50.4141"
                        y="5.27582"
                        width="1.17241"
                        height="11.1379"
                        fill="url(#paint4_linear_30_32086)"
                    />
                    <rect
                        x="51.5859"
                        y="62.7242"
                        width="1.17241"
                        height="11.1379"
                        transform="rotate(180 51.5859 62.7242)"
                        fill="url(#paint5_linear_30_32086)"
                    />
                    <rect
                        x="16.4141"
                        y="5.27582"
                        width="1.17241"
                        height="11.1379"
                        fill="url(#paint6_linear_30_32086)"
                    />
                    <rect
                        x="17.5859"
                        y="62.7242"
                        width="1.17241"
                        height="11.1379"
                        transform="rotate(180 17.5859 62.7242)"
                        fill="url(#paint7_linear_30_32086)"
                    />
                    <path
                        d="M39.6675 43.0667H26.0674C25.4663 43.0667 24.8898 42.8279 24.4647 42.4028C24.0396 41.9777 23.8008 41.4012 23.8008 40.8V27.2C23.8008 26.5989 24.0396 26.0223 24.4647 25.5972C24.8898 25.1722 25.4663 24.9333 26.0674 24.9333H37.4008C38.0019 24.9333 38.5785 25.1722 39.0036 25.5972C39.4286 26.0223 39.6675 26.5989 39.6675 27.2V28.3333M39.6675 43.0667V28.3333M39.6675 43.0667C39.0663 43.0667 39.2869 43.0667 39.9508 42.4028C39.5257 41.9777 39.6675 41.4012 39.6675 40.8V28.3333M39.6675 43.0667C40.2686 43.0667 43.1118 42.8279 43.5369 42.4028C43.962 41.9777 44.2008 41.4012 44.2008 40.8V30.6C44.2008 29.9989 43.962 29.4223 43.5369 28.9972C43.1118 28.5722 42.5353 28.3333 41.9341 28.3333H39.6675M35.1341 24.9333H30.6008M28.3341 38.5333H35.1341M28.3341 29.4667H35.1341V34H28.3341V29.4667Z"
                        stroke="#6D28D9"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <defs>
                        <linearGradient
                            id="paint0_linear_30_32086"
                            x1="5.27566"
                            y1="17.5862"
                            x2="5.27566"
                            y2="29.3104"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint1_linear_30_32086"
                            x1="5.27566"
                            y1="51.5862"
                            x2="5.27566"
                            y2="63.3104"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint2_linear_30_32086"
                            x1="63.8968"
                            y1="16.4138"
                            x2="63.8968"
                            y2="28.1379"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint3_linear_30_32086"
                            x1="63.8968"
                            y1="50.4138"
                            x2="63.8968"
                            y2="62.1379"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint4_linear_30_32086"
                            x1="51.0003"
                            y1="5.27582"
                            x2="51.0003"
                            y2="16.4137"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint5_linear_30_32086"
                            x1="52.1721"
                            y1="62.7242"
                            x2="52.1721"
                            y2="73.8621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint6_linear_30_32086"
                            x1="17.0003"
                            y1="5.27582"
                            x2="17.0003"
                            y2="16.4137"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint7_linear_30_32086"
                            x1="18.1721"
                            y1="62.7242"
                            x2="18.1721"
                            y2="73.8621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <h3 class="font-semibold text-base text-violet-700 mt-6">UI/UX Design</h3>
            <p class="mt-4 text-lg text-slate-600">
                UI/UX is something I enjoy and have fun on doing. People say i'm good at that and it's a plus
            </p>
        </div>
        <div class="md:flex-1 mt-10 md:mt-0 px-12">
            <div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="68"
                    height="68"
                    viewBox="0 0 68 68"
                    fill="none"
                >
                    <circle
                        cx="34"
                        cy="34"
                        r="33.5"
                        fill="#F1F5F9"
                        stroke="#CBD5E1"
                    />
                    <rect
                        x="16.4141"
                        y="16.4138"
                        width="1.17241"
                        height="35.1724"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="51.5859"
                        y="16.4138"
                        width="1.17242"
                        height="35.1724"
                        transform="rotate(90 51.5859 16.4138)"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="4.68945"
                        y="17.5862"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(-90 4.68945 17.5862)"
                        fill="url(#paint0_linear_30_32106)"
                    />
                    <rect
                        x="4.68945"
                        y="51.5862"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(-90 4.68945 51.5862)"
                        fill="url(#paint1_linear_30_32106)"
                    />
                    <rect
                        x="63.3105"
                        y="16.4138"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(90 63.3105 16.4138)"
                        fill="url(#paint2_linear_30_32106)"
                    />
                    <rect
                        x="63.3105"
                        y="50.4138"
                        width="1.17241"
                        height="11.7241"
                        transform="rotate(90 63.3105 50.4138)"
                        fill="url(#paint3_linear_30_32106)"
                    />
                    <rect
                        x="51.5859"
                        y="50.4138"
                        width="1.17242"
                        height="35.1724"
                        transform="rotate(90 51.5859 50.4138)"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="50.4141"
                        y="16.4138"
                        width="1.17241"
                        height="35.1724"
                        fill="#CBD5E1"
                    />
                    <rect
                        x="50.4141"
                        y="5.27582"
                        width="1.17241"
                        height="11.1379"
                        fill="url(#paint4_linear_30_32106)"
                    />
                    <rect
                        x="51.5859"
                        y="62.7242"
                        width="1.17241"
                        height="11.1379"
                        transform="rotate(180 51.5859 62.7242)"
                        fill="url(#paint5_linear_30_32106)"
                    />
                    <rect
                        x="16.4141"
                        y="5.27582"
                        width="1.17241"
                        height="11.1379"
                        fill="url(#paint6_linear_30_32106)"
                    />
                    <rect
                        x="17.5859"
                        y="62.7242"
                        width="1.17241"
                        height="11.1379"
                        transform="rotate(180 17.5859 62.7242)"
                        fill="url(#paint7_linear_30_32106)"
                    />
                    <path
                        d="M34.0012 40.8001H34.0125H34.0012ZM29.4678 44.2001H38.5345C39.1357 44.2001 39.7122 43.9612 40.1373 43.5362C40.5624 43.1111 40.8012 42.5345 40.8012 41.9334V26.0667C40.8012 25.4656 40.5624 24.889 40.1373 24.4639C39.7122 24.0389 39.1357 23.8 38.5345 23.8H29.4678C28.8667 23.8 28.2901 24.0389 27.8651 24.4639C27.44 24.889 27.2012 25.4656 27.2012 26.0667V41.9334C27.2012 42.5345 27.44 43.1111 27.8651 43.5362C28.2901 43.9612 28.8667 44.2001 29.4678 44.2001Z"
                        stroke="#6D28D9"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <defs>
                        <linearGradient
                            id="paint0_linear_30_32106"
                            x1="5.27566"
                            y1="17.5862"
                            x2="5.27566"
                            y2="29.3104"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint1_linear_30_32106"
                            x1="5.27566"
                            y1="51.5862"
                            x2="5.27566"
                            y2="63.3104"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint2_linear_30_32106"
                            x1="63.8968"
                            y1="16.4138"
                            x2="63.8968"
                            y2="28.1379"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint3_linear_30_32106"
                            x1="63.8968"
                            y1="50.4138"
                            x2="63.8968"
                            y2="62.1379"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint4_linear_30_32106"
                            x1="51.0003"
                            y1="5.27582"
                            x2="51.0003"
                            y2="16.4137"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint5_linear_30_32106"
                            x1="52.1721"
                            y1="62.7242"
                            x2="52.1721"
                            y2="73.8621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint6_linear_30_32106"
                            x1="17.0003"
                            y1="5.27582"
                            x2="17.0003"
                            y2="16.4137"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                        <linearGradient
                            id="paint7_linear_30_32106"
                            x1="18.1721"
                            y1="62.7242"
                            x2="18.1721"
                            y2="73.8621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop
                                stop-color="#DDD6FE"
                                stop-opacity="0"
                            />
                            <stop
                                offset="1"
                                stop-color="#DDD6FE"
                            />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <h3 class="font-semibold text-base text-violet-700 mt-6">Mobile Apps</h3>
            <p class="mt-4 text-lg text-slate-600">
                As web technologies grew I was able to work on hibrid apps, a game changer in my career
            </p>
        </div>
    </div>
</div>