<div class="inner-container">
    <div class="flex lg:flex-row flex-col lg:justify-between w-full">
        <div class="lg:max-w-3xl lg:order-0 order-1">
            <h2 class="text-[32px] leading-snug font-bold text-slate-900 mt-2">My name is <span class="title-mark">Matheus</span> and I am a <span class="title-mark">software engineer</span> with 15+ years experience</h2>
            <p class="text-lg text-slate-700 mt-4">
                Worked as a developer for companies in Brazil, England and Canada
            </p>
        </div>

        <div class="lg:order-1 order-0 lg:pt-2 lg:pb-0 pb-4">
            <img
                src="/assets/images/mtda-avatar-software-engineer-working-remote-for-us-canada-europe.png"
                alt="MTDA Avatar, Software Engineer, Working Remote for us, Canada, Europe"
            >
        </div>
    </div>

    <div class="flex flex-wrap gap-8 mt-12">
        <div
            class="flex items-center gap-4 py-2 pl-2 pr-4 rounded-full border border-slate-300"
            *ngFor="let item of about"
        >
            <div
                class="bg-slate-300 rounded-full w-10 h-10 flex items-center justify-center"
                *ngIf="isBrowser"
            >
                <svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    class="text-slate-700 w-6 h-6"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div [innerHTML]="item.title"></div>
        </div>
    </div>
</div>