.banner-image {
    /* -webkit-animation: action 2s infinite alternate;
    animation: action 2s infinite alternate; */
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
