<div class="inner-container">
    <div class="flex lg:flex-row flex-col gap-10 lg:justify-between w-full">
        <div class="lg:max-w-3xl w-full">
            <h2 class="text-[32px] leading-snug font-bold text-slate-900 mt-2">I'm the creator of ng-tw, a set of <span class="title-mark">components</span> to <span class="title-mark">use Tailwind CSS with Angular</span></h2>
            <p class="text-lg text-slate-700 mt-4">
                After working with Tailwind CSS I couldn't find components for angular so I decided to created my own set of components and share with the community
            </p>
        </div>

        <div class="lg:w-64 w-full flex flex-col justify-center lg:items-center items-start gap-8">
            <img
                class="max-w-[256px]"
                src="/assets/images/ng-tailwind.png"
                alt="Set of components to use Tailwind CSS with Angular made by Matheus Davidson Web Developer and Community member"
            >

            <div class="text-center">
                <a
                    tw-button
                    layout="raised"
                    color="primary"
                    size="lg"
                    class="mx-auto inline-block min-w-[140px]"
                >
                    Try Now
                </a>
            </div>
        </div>
    </div>
</div>