<div
    class="flex gap-4 stack-animation"
    *ngIf="isBrowser"
>
    <div class="flex gap-4 stack-animation-inner">
        <div class="px-6 py-4 bg-violet-700 text-violet-200">CODING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.coding"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">DESIGN</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.design"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-blue-700 text-blue-200">TOOLING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.tooling"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">PLATFORMS</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.platform"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>
    </div>

    <div class="flex gap-4 stack-animation-inner">
        <div class="px-6 py-4 bg-violet-700 text-violet-200">CODING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.coding"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">DESIGN</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.design"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-blue-700 text-blue-200">TOOLING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.tooling"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">PLATFORMS</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.platform"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>
    </div>
</div>

<div
    class="flex gap-4 stack-animation reverse"
    *ngIf="isBrowser"
>
    <div class="flex gap-4 stack-animation-inner">
        <div class="px-6 py-4 bg-violet-700 text-violet-200">CODING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.coding"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">DESIGN</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.design"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-blue-700 text-blue-200">TOOLING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.tooling"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">PLATFORMS</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.platform"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>
    </div>

    <div class="flex gap-4 stack-animation-inner">
        <div class="px-6 py-4 bg-violet-700 text-violet-200">CODING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.coding"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">DESIGN</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.design"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-blue-700 text-blue-200">TOOLING</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.tooling"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>

        <div class="px-6 py-4 bg-lime-700 text-lime-200">PLATFORMS</div>

        <div
            class="px-6 py-4 bg-slate-200 text-slate-700 flex items-center gap-2"
            *ngFor="let item of stack.platform"
        >
            <div>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-slate-400 h-5 w-5"
                    [innerHTML]="item.svg | safeHtml"
                ></svg>
            </div>

            <div class="whitespace-nowrap">{{item.title}}</div>
        </div>
    </div>
</div>