@import 'variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee-reverse {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes marquee-reverse {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

html,
body {
    scroll-behavior: smooth;

    background-color: var(--default-background);
    font-weight: normal;
    @apply text-base text-gray-900;

    letter-spacing: 0.048rem;
    a,
    input,
    button {
        letter-spacing: 0.038rem;
    }

    .uppercase,
    input.uppercase {
        letter-spacing: 0.054rem;
    }
}

.section-container {
    @apply w-full max-w-[1920px] my-0 mx-auto block relative;

    &:not(.smaller-py, .no-padding),
    &:not(.no-padding) {
        @apply py-16 lg:py-24;
    }
    &.smaller-py {
        @apply py-10 lg:py-16;
    }
    &.smaller-py {
        @apply py-10 lg:py-16;
    }
}

.inner-container {
    @apply max-w-6xl mx-auto px-6 md:px-12;
}

.bg-square {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    z-index: 1;
}

.bg-gradient {
    background: rgba(0, 0, 0, 0)
        url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')
        no-repeat fixed center bottom/cover;

    &:after {
        content: '';
        background: linear-gradient(-47deg, var(--color-secondary-900) 0%, var(--color-primary-900) 47%);
        opacity: 0.94;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }
}

@media (min-width: 1024px) {
    .lg\:text-5xl.leading-snug {
        font-size: 3rem;
        line-height: 1.375;
    }
}

@media (min-width: 768px) {
    .md\:text-3xl.leading-snug {
        line-height: 1.375;
    }
}

.bg-slate-content {
    @apply relative bg-slate-100;

    &:after,
    &:before {
        content: '';
        @apply w-full h-[128px] bg-repeat-x absolute left-0 z-0;
    }

    &:after {
        background-image: url('/assets/images/bg-slate-content-bottom.png');
        @apply bottom-0;
    }

    &:before {
        background-image: url('/assets/images/bg-slate-content-top.png');
        @apply top-0;
    }
}

.title-mark {
    @apply bg-slate-200 px-2;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}

.stack-animation {
    -webkit-animation: marquee 80s linear infinite;
    animation: marquee 80s linear infinite;

    @media (max-width: 1024px) {
        -webkit-animation: unset;
        animation: unset;

        .stack-animation-inner {
            -webkit-animation: marquee 80s linear infinite;
            animation: marquee 80s linear infinite;
        }
    }

    &.reverse {
        @media (max-width: 1024px) {
            .stack-animation-inner {
                -webkit-animation: marquee 80s linear infinite reverse;
                animation: marquee 80s linear infinite reverse;
            }
        }
    }
}

.stack-animation-container {
    &:hover,
    &:focus {
        .stack-animation {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }

        .stack-animation-inner {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
    }
}

.bg-square-top {
    @apply relative;

    &:before {
        content: '';
        background-repeat: repeat-x;
        background-image: url('/assets/images/bg-slate-content-top.png');
        @apply absolute left-0 z-0 w-full h-[128px] -top-[17px];
        opacity: 0.7;
    }
}
